.gameContainer{
    overflow: hidden;
}

.canvas{
    width: 100%;
}
.stroked{
    font-size: 70px;
     writing-mode: vertical-rl;
    -webkit-text-fill-color: #fff0;
    -webkit-text-stroke: 1px #000;
  }
  .grad{
      font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.playButton{
    background-color: #000;
    border: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.playButtonText{
    font-family: 'Arial';
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(0deg, #00ff99, #ffffff);
    -webkit-text-stroke: 2px #4a1850;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: #000000 6px 3px 4px;*/
}